{% extends 'base.html' %} {% comment %} title block starts from {% endcomment %}
{% load static %} {% block title %} My -Blog {% endblock %} {% block content %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}" />
<link rel="stylesheet" href="{% static 'blog/index.css' %}" />
{% endblock %}

<section id="welcome">
  <header>
    <img
      src="{% static 'images/woods.jpeg' %}"
      alt="Trishten - The author of the blog"
    />
    <h2>TRISHTEN'S BLOG</h2>
  </header>
  <p class="para">
    Hi, I am Trishten and I love to blog about tech and the world!
  </p>
</section>
<section id="latest-posts">
  <h2>My Latest thoughts</h2>
  <ul>
    {% include 'blog/includes/post.html' %}
  </ul>
</section>
<section id="about">
  <h2>What I do</h2>
  <p class="parra">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque
    officiis cumque veritatis incidunt harum nobis. Ipsa laboriosam laborum
    dolores vel?
  </p>
  <p class="parra">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatibus
    culpa accusantium quo eum. Fugiat iste ipsum similique, numquam at mollitia
    minima debitis deserunt, nisi odio aliquam nobis vero repudiandae.
  </p>
</section>
{% endblock %}
